/JavaInterviewPrograms/nbproject/private/
/JavaInterviewPrograms/build/
/JavaInterviewPrograms/dist/
/InnerClassDemo/nbproject/private/
/InnerClassDemo/build/
/InnerClassDemo/dist/
/EnumInJava/nbproject/private/
/EnumInJava/build/
/JavaAnnotation/nbproject/private/
/JavaAnnotation/build/
/JavaAnnotation/dist/
/JavaSingletonPattern/nbproject/private/
/JavaSingletonPattern/build/
/JavaFileHandling/nbproject/private/
/JavaFileHandling/build/
/JavaSerialization/nbproject/private/
/JavaSerialization/build/
/JavaSerialization/dist/
/JavaReflectionDemo/nbproject/private/
/JavaReflectionDemo/build/
/JavaMysqlJdbc/nbproject/private/
/JavaMysqlJdbc/build/
/JavaMysqlJdbc/dist/
/JavaMysqlCrud/nbproject/private/
/JavaMysqlCrud/build/
